<h1>Welcome to Kevin Staiger's Portfolio</h1>

<h3>Name: Kevin Joseph Staiger</h3>
<h3>Lives in Seattle Washington</h3>
<h3>College: University of Washington</h3>
<h3>Degree: Physics</h3>
<h3>Hobbies: Camping, Drawing, Listening to Music</h3>


