<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>Cosmogony - Portfolio One Page Template</title>

    <!-- Styles -->
    <link href="css/main.css" rel="stylesheet">
    <!-- Foundation font icons core CSS -->
    <link href="css/foundation-icons.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="images/favicon/favicon.ico" rel="icon" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link href="images/favicon/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" >
    <!-- For iPhone with high-resolution Retina display: -->
    <link href="images/favicon/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <!-- For first- and second-generation iPad: -->
    <link href="images/favicon/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link href="images/favicon/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>
  </head>
  <body class="index" id="top">

    <!-- Top Bar -->
    <header class="fixed">

      <nav class="top-bar" data-topbar>

        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="./index.html">Portfolio</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. -->
          <li class="toggle-topbar menu-icon"><a href="#fakelinks"><span></span></a></li>
        </ul> <!-- /.title-area -->

        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li><a href="#about">About</a></li>
            <li class="divider"></li>
            <li><a href="#features">Resume</a></li>
            <li class="divider"></li>
            <li><a href="#work">Projects</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/kstag07">Github</a></li>
            <li class="divider"></li>
            <li><a href="#contact">Contact</a></li>
            <li class="divider"></li>
            <li><a href="#github">Github</a></li>
          </ul> <!-- /.right -->

        </section> <!-- /.top-bar-section -->

      </nav> <!-- /.top-bar -->

    </header> <!-- /.fixed -->




    <!-- Hero Section -->
    <section id="hero">

      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h1>Kevin Staiger</h1>
          <h3>Web Developer</h3>

          <!-- Description -->
          <p class="lead">Seattle area web developer.  University of Washingtion graduate in Physics and currently a student at Code Fellows</p>

          <!-- Anchor Button -->
          <p><a class="button alert radius" href="#about">Take a tour</a></p>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->

    </section> <!-- /#hero -->




    <!-- About Section -->
    <section class="about-section" id="about">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns">

          <!-- Title -->
          <h2>Introduction</h2>
          <div class="line"></div>

          <!-- Content -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, eius, velit, nostrum praesentium illo eum repellat ea doloremque autem officiis aliquid corporis suscipit qui earum numquam quo nisi molestias vitae. Asperiores voluptatem tempora quaerat eveniet error quo totam quod molestiae nobis dignissimos? Quasi odio molestiae non quo possimus veritatis consequuntur tempore dolorem!</p>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->


      <section class="services">

        <div class="row">

          <div class="medium-4 columns">

            <div class="col-services">

              <!-- Icons -->
              <img src="images/icons/browser.png" alt="">

              <!-- Title -->
              <h4>Browser</h4>

              <!-- Description -->
              <p>Harum, tenetur rerum nulla dolorum totam quibusdam illum. Fuga vel at sed quo. Obcaecati, perspiciatis!</p>

            </div> <!-- /.col-services -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-services">

              <!-- Icons -->
              <%= image_tag("icons/imac.png") %>

              <!-- Title -->
              <h4>iMac</h4>

              <!-- Description -->
              <p>Nostrum amet cupiditate officiis cum quo sapiente omnis provident sit similique placeat incidunt saepe quae.</p>

            </div> <!-- /.col-services -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-services">

              <!-- Icons -->
              <img src="images/icons/open-box.png" alt="">

              <!-- Title -->
              <h4>Open-Box</h4>

              <!-- Description -->
              <p>Quis iure at assumenda ipsa ullam natus consequatur eum officia molestias dolorem quam ea sequi delectus sapiente.</p>

            </div> <!-- /.col-services -->

          </div> <!-- /.medium-4 .columns -->


        </div> <!-- /.row -->

      </section> <!-- /.services -->

    </section> <!-- /.about-section -->




    <!-- Features Section -->
    <section class="features-section" id="features">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns">

          <!-- Title -->
          <h2>Features that we provide</h2>
          <div class="line"></div>

          <!-- Description -->
          <p class="lead">Perferendis, ex hic velit impedit fuga nisi obcaecati. Laboriosam, eveniet, adipisci a suscipit est odio non asperiores aspernatur vitae aperiam porro magnam.</p>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->


      <section class="features-wrapped">

        <div class="row">

          <div class="medium-4 columns">

            <div class="col-features">

              <!-- Icons -->
              <img src="images/icons/analytics.png" alt="">

              <!-- Title -->
              <h4>Analystic</h4>

              <!-- Description -->
              <p>Obcaecati aut reprehenderit. Harum explicabo quae necessitatibus minima dolore maxime repudiandae numquam veritatis at consequatur.</p>

            </div> <!-- /.col-features -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-features">

              <!-- Icons -->
              <img src="images/icons/joypad.png" alt="">

              <!-- Title -->
              <h4>Joypad</h4>

              <!-- Description -->
              <p>Fugit quae provident illum nihil enim quis expedita in! Et aut eos numquam minus earum assumenda quo cupiditate ducimus!</p>

            </div> <!-- /.col-features -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-features">

              <!-- Icons -->
              <img src="images/icons/map.png" alt="">

              <!-- Title -->
              <h4>Map</h4>

              <!-- Description -->
              <p>Sint, voluptatum, amet ipsa sed ad fuga asperiores eaque modi aliquam omnis aut eligendi assumenda impedit facilis in ut dignissimos.</p>

            </div> <!-- /.col-features -->

          </div> <!-- /.medium-4 .columns -->

        </div> <!-- /.row -->

      </section> <!-- /.features-wrapped -->

    </section> <!-- /.features-section -->




    <!-- Featured Work Section -->
    <section class="featured-work" id="work">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns text-center">

          <!-- Title -->
          <h2>Featured work</h2>
          <div class="line"></div>

        </div> <!-- /.medium-9 medium-centered columns -->

      </div> <!-- /.row -->


      <section class="featured-wrapped">

        <div class="row">

          <div class="medium-6 columns">

            <!-- Title -->
            <h3>Design Collaboration</h3>

            <!-- Content -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, ratione in enim dolore ducimus aspernatur ea aliquam architecto quia! Eaque, placeat officiis temporibus laboriosam recusandae voluptas iure fugit perferendis! Sit.</p>

            <!-- Link Button -->
            <p><a class="button button-border radius" href="#fakelinks">Live preview</a></p>

          </div> <!-- /."medium-6 .columns -->

          <div class="medium-6 columns">

            <!-- Images Project -->
            <img class="img-project" src="images/project/iMac.png" alt="">

          </div> <!-- /."medium-6 .columns -->

        </div> <!-- /.row -->

      </section> <!-- /.featured-wrapped -->

    </section> <!-- /.featured-work -->



    <!-- Work Section -->
    <section class="work-section">

      <!-- Title -->
      <div class="row">
        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>Our latest work</h2>
          <div class="line"></div>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Start: Portfolio -->
      <!-- First Columns -->
      <div class="row">

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-1.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>First title heading</h4>

            <!-- Description -->
            <p>Dolorem adipisci autem inventore incidunt dolores. Autem perspiciatis voluptate.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-2.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>Second title heading</h4>

            <!-- Description -->
            <p>Placeat facere neque incidunt repudiandae quo rerum quae.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-3.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>Third title heading</h4>

            <!-- Description -->
            <p>Dignissimos porro in illum labore nostrum mollitia dolor error beatae libero.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

      </div> <!-- /.row -->


      <!-- Second columns -->
      <div class="row">

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-4.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>Fourth title heading</h4>

            <!-- Description -->
            <p>Dolorem adipisci autem inventore incidunt dolores. Autem perspiciatis voluptate.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-5.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>Fifth title heading</h4>

            <!-- Description -->
            <p>Placeat facere neque incidunt repudiandae quo rerum quae.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

        <div class="medium-4 columns">

          <div class="col-work">

            <a href="#fakelinks" data-reveal-id="work-modal-1" data-reveal>
              <img src="images/project/thumbs/work-6.jpg" alt="">
              <span class="overlay"><span class="overlay-icon"><i class="fi-eye"></i></span></span>
            </a>

            <!-- Title -->
            <h4>Sixth title heading</h4>

            <!-- Description -->
            <p>Dignissimos porro in illum labore nostrum mollitia dolor error beatae libero.</p>

          </div> <!-- /.col-work -->

        </div> <!-- /.medium-4 .columns -->

      </div> <!-- /.row -->

    </section> <!-- /.work-section -->


    <!-- Revel Modal for Portfolio -->
    <!-- Start show Modal for Latest Work from here. You should create a modal for each of your projects. (example: id="work-modal-1". replace id with whatever you like.) -->
    <!-- Modal 1 -->
    <div class="reveal-modal medium radius text-center" id="work-modal-1" data-reveal>

      <h3>First title heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, odio, delectus odit doloribus sit ipsam distinctio officiis dolor nemo enim fugit mollitia dignissimos? Veniam, eligendi nam fugit doloremque repellat cupiditate.</p>

      <!-- Images Showcase -->
      <img class="img-reveal-modal" src="images/project/work-1.jpg" alt="">

      <!-- Button Links -->
      <p><a class="button alert radius" href="#fakelinks">Live preview</a></p>

      <!-- Close Button -->
      <a class="close-reveal-modal"><i class="fi-x"></i></a>

    </div> <!-- /.reveal-modal -->




    <!-- Fact Section -->
    <section class="fact-section">

      <!-- Title -->
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>Fact about us</h2>
          <div class="line"></div>

          <!-- Description -->
          <p class="lead">Illum et deserunt totam nam quas quis labore consequatur minus. Eius, impedit laborum voluptates adipisci eligendi debitis culpa iste sed molestias nihil!</p>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Start: Counter -->
      <div class="row">

        <!-- Counter 1 -->
        <div class="medium-3 columns">

          <div class="col-counter">

            <!-- Images Icons -->
            <img src="images/icons/bubbles.png" alt="">

            <!-- Content -->
            <div class="counter" id="counter-1"></div>
            <label>Bubbles</label>

          </div> <!-- /.col-counter -->

        </div> <!-- /.medium .columns -->

        <!-- Counter 2 -->
        <div class="medium-3 columns">

          <div class="col-counter">

            <!-- Images Icons -->
            <img src="images/icons/clock.png" alt="">

            <!-- Content -->
            <div class="counter" id="counter-2"></div>
            <label>Clock</label>

          </div> <!-- /.col-counter -->

        </div> <!-- /.medium .columns -->

        <!-- Counter 3 -->
        <div class="medium-3 columns">

          <div class="col-counter">

            <!-- Images Icons -->
            <img src="images/icons/settings.png" alt="">

            <!-- Content -->
            <div class="counter" id="counter-3"></div>
            <label>Settings</label>

          </div> <!-- /.col-counter -->

        </div> <!-- /.medium .columns -->

        <!-- Counter 4 -->
        <div class="medium-3 columns">

          <div class="col-counter">

            <!-- Images Icons -->
            <img src="images/icons/wine.png" alt="">

            <!-- Content -->
            <div class="counter" id="counter-4"></div>
            <label>Wine</label>

          </div> <!-- /.col-counter -->

        </div> <!-- /.medium .columns -->

      </div> <!-- /.row -->

    </section> <!-- /.fact-section -->




    <!-- Team Section -->
    <section class="team-section" id="team">

      <!-- Title -->
      <div class="row">

        <div class="medium-9 medium-centered columns">

          <!-- Title -->
          <h2>Meet the team</h2>
          <div class="line"></div>

          <!-- Content -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, dolorum, molestiae, qui deleniti distinctio laudantium error itaque voluptatem unde provident blanditiis eveniet fuga culpa voluptates repudiandae debitis est perspiciatis omnis.</p>

        </div> <!-- /.medium-9 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Team Wrapped -->
      <section class="team-wrapped">

        <div class="row">

          <div class="medium-4 columns">

            <div class="col-team">

              <!-- Images Team -->
              <img src="images/team/author-1.jpg" alt="">

              <!-- Title Name -->
              <h4>Michael Patchett</h4>
              <h6>CEO</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-team">

              <!-- Images Team -->
              <img src="images/team/author-2.jpg" alt="">

              <!-- Title Name -->
              <h4>Mircea Răzvan</h4>
              <h6>Web Developer</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

          <div class="medium-4 columns">

            <div class="col-team">

              <!-- Images Team -->
              <img src="images/team/author-3.jpg" alt="">

              <!-- Title Name -->
              <h4>Enrik Leka</h4>
              <h6>Web Designer</h6>

              <!-- Social Media Links -->
              <ul class="social-icons-team">
                <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
                <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
                <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
                <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              </ul> <!-- /.social-icons-team -->

            </div> <!-- /.col-team -->

          </div> <!-- /.medium-4 .columns -->

        </div> <!-- /.row -->

      </section> <!-- /.team-wrapped -->


      <!-- Anchor Button -->
      <p class="margin-top"><a class="button alert radius" href="#contact">Hire us</a></p>

    </section> <!-- /.team-section -->




    <!-- Skills Section -->
    <section class="skills-section">

      <!-- Title -->
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>Our capability to help you</h2>
          <div class="line"></div>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Skills Column -->
      <div class="row">

        <div class="medium-6 columns">

          <div class="col-skills">

            <!-- Title -->
            <h6>Skills 1</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 90%"></span>
            </div>

            <!-- Title -->
            <h6>Skills 2</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 50%"></span>
            </div>

            <!-- Title -->
            <h6>Skills 3</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 70%"></span>
            </div>

          </div> <!-- /.col-skills -->

        </div> <!-- /.medium-6 columns -->

        <div class="medium-6 columns">

          <div class="col-skills">

            <!-- Title -->
            <h6>Skills 4</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 90%"></span>
            </div>

            <!-- Title -->
            <h6>Skills 5</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 90%"></span>
            </div>

            <!-- Title -->
            <h6>Skills 6</h6>

            <div class="progress medium-12 success radius">
              <span class="meter" style="width: 40%"></span>
            </div>

          </div> <!-- /.col-skills -->

        </div> <!-- /.medium-6 columns -->

      </div> <!-- /.row -->

    </section> <!-- /.skills-section -->




    <!-- Pricing Tables Section -->
    <section class="pricing-tables-section">

      <!-- Title -->
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>Pricing plans</h2>
          <div class="line"></div>

          <!-- Description -->
          <p class="lead">Nostrum atque aliquid numquam velit nihil soluta quo ea hic voluptatibus distinctio architecto facere voluptatem quaerat magnam assumenda cum.</p>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Pricing Tables Columns -->
      <div class="row">

        <div class="medium-4 columns">

          <ul class="pricing-table">

            <!-- Indicator -->
            <li class="pricing-indicator"><i class="fi-check"></i></li>

            <li class="title">Basic</li>
            <li class="price">$8.99/mo</li>
            <li class="bullet-item">Free features</li>
            <li class="bullet-item">Unlimited file access</li>
            <li class="bullet-item">2 month support</li>
            <li class="cta-button"><a class="button success radius" href="#fakelinks">Sign up</a></li>
          </ul> <!-- /.pricing-table -->

        </div> <!-- /.medium-4 columns -->

        <div class="medium-4 columns">

          <ul class="pricing-table">
            <li class="title">Pro</li>
            <li class="price">$14.99/mo</li>
            <li class="bullet-item">Free features</li>
            <li class="bullet-item">Unlimited file access</li>
            <li class="bullet-item">2 month support</li>
            <li class="cta-button"><a class="button success radius" href="#fakelinks">Sign up</a></li>
          </ul> <!-- /.pricing-table -->

        </div> <!-- /.medium-4 columns -->

        <div class="medium-4 columns">

          <ul class="pricing-table">
            <li class="title">Advance</li>
            <li class="price">$19.99/mo</li>
            <li class="bullet-item">Free features</li>
            <li class="bullet-item">Unlimited file access</li>
            <li class="bullet-item">2 month support</li>
            <li class="cta-button"><a class="button success radius" href="#fakelinks">Sign up</a></li>
          </ul> <!-- /.pricing-table -->

        </div> <!-- /.medium-4 columns -->

      </div> <!-- /.row -->

    </section> <!-- /.pricing-tables-section -->




    <!-- Testimonial Section -->
    <section class="testimonial-section">

      <!-- Title -->
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>What people says</h2>
          <div class="line"></div>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <!-- Orbit Slider -->
      <ul class="testimonial-orbit-content" data-orbit>

        <li data-orbit-slide="headline-1">

          <div class="row">

            <div class="medium-9 medium-centered columns">

              <h4>Perspiciatis harum quia laboriosam atque facilis sapiente neque voluptates error iste id quibusdam ea repellat!</h4>

              <!-- Images Client -->
              <img class="img-client" src="images/client/client-1.jpg" alt="">

              <!-- Title Name -->
              <h6>Jacob Blackstock</h6>

            </div> <!-- /.medium-9 .medium-centered columns -->

          </div> <!-- /.row -->

        </li>

        <li data-orbit-slide="headline-2">

          <div class="row">

            <div class="medium-9 medium-centered columns">

              <h4>Numquam quae earum deserunt similique perferendis libero fuga dolores odit placeat eaque aliquam quod labore? Expedita.</h4>

              <!-- Images Client -->
              <img class="img-client" src="images/client/client-2.jpg" alt="">

              <!-- Title Name -->
              <h6>Peter Carpenter</h6>

            </div> <!-- /.medium-9 .medium-centered columns -->

          </div> <!-- /.row -->

        </li>

        <li data-orbit-slide="headline-3">

          <div class="row">

            <div class="medium-9 medium-centered columns">

              <h4>Laboriosam repellat sit molestiae vitae consectetur quis autem culpa illo unde veniam ipsam quos iure repellendus provident distinctio?</h4>

              <!-- Images Client -->
              <img class="img-client" src="images/client/client-3.jpg" alt="">

              <!-- Title Name -->
              <h6>Sophie Vosper</h6>

            </div> <!-- /.medium-9 .medium-centered columns -->

          </div> <!-- /.row -->

        </li>

      </ul> <!-- /.testimonial-orbit-content -->

    </section> <!-- /.testimonial-section -->




    <!-- Contact Section -->
    <section class="contact-section" id="contact">

      <!-- Title -->
      <div class="row">

        <div class="medium-8 medium-centered columns">

          <!-- Title -->
          <h2>Contact us now!</h2>
          <div class="line"></div>

        </div> <!-- /.medium-8 .medium-centered .columns -->

      </div> <!-- /.row -->


      <div class="row">

        <!-- Contact Form -->
        <div class="medium-6 columns">

          <form data-abide>

            <fieldset class="radius">

              <!-- Input 1 -->
              <div class="row">

                <div class="medium-12 columns">

                  <div class="name-field">
                    <label>Name/Last name
                      <input class="radius" id="myName" type="text" placeholder="Aryandhani">
                    </label>
                    <small class="error">Name is required and must be a string.</small>
                  </div> <!-- /.name-field -->

                </div> <!-- /.medium-12 .columns -->

              </div> <!-- /.row -->

              <!-- Input 2 -->
              <div class="row">

                <div class="medium-12 columns">

                  <div class="email-field">
                    <label>Email
                      <input class="radius" id="myEmail" type="email" placeholder="support@cosmogony.com">
                    </label>
                    <small class="error">An email address is required.</small>
                  </div> <!-- /.email-field -->

                </div> <!-- /.medium-12 .columns -->

              </div> <!-- /.row -->


              <!-- Input 3 -->
              <div class="row">

                <div class="medium-12 columns">

                  <label>Message</label>
                  <textarea class="radius" id="myMessage" name="message" placeholder="Leave your comments here."></textarea>

                </div> <!-- /.medium-12 .columns -->

              </div> <!-- /.row -->


              <!-- Button -->
              <div class="row">

                <div class="medium-12 columns">

                  <button class="button success radius" type="submit">Send message</button>

                </div> <!-- /.medium-12 .columns -->

              </div> <!-- /.row -->

            </fieldset>

          </form>

        </div> <!-- /.medium-6 .columns -->

        <!-- Contact Description -->
        <div class="medium-6 columns">

          <div class="col-address">

            <!-- Title -->
            <h5>Where to find us</h5>

            <!-- Address -->
            <p><strong>Cosmogony, Inc.</strong> Palm Street Block 18C No. 1C Beringin Raya, Bandar Lampung - Indonesia.</p>

            <!-- Phone and Email -->
            <p><i class="fi-telephone"></i> (0721) 123 - 456 - 789 <br><i class="fi-mail"></i> support@cosmogony.com</p>

            <!-- Map -->
            <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
            <div id="map"></div>

            <!-- Title -->
            <h5>Get in touch</h5>

            <!-- Social Media Links -->
            <ul class="social-media">
              <li><a class="fi-social-facebook" href="#fakelinks"></a></li>
              <li><a class="fi-social-twitter" href="#fakelinks"></a></li>
              <li><a class="fi-social-google-plus" href="#fakelinks"></a></li>
              <li><a class="fi-social-linkedin" href="#fakelinks"></a></li>
              <li><a class="fi-social-behance" href="#fakelinks"></a></li>
              <li><a class="fi-social-skype" href="#fakelinks"></a></li>
            </ul> <!-- /.social-media -->

          </div> <!-- /.col-address -->

        </div> <!-- /.medium-6 .columns -->

      </div> <!-- /.row -->

    </section> <!-- /.contact-section -->




    <!-- Footer Section -->
    <footer id="footer">

      <div class="row">

        <div class="medium-12 columns">

          <!-- Back to Top -->
          <p><a class="to-top" href="#top"><i class="fi-arrow-up"></i></a></p>

          <!-- Copyright -->
          <p>&copy; 2014 <a href="X">Portfolio</a>. All right reserved.</p>

        </div> <!-- /.medium-12 .columns -->

      </div> <!-- /.row -->

    </footer> <!-- /.footer -->

    <!-- Load JS here for greater good -->
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/jquery.count.js"></script>
    <script src="js/vendor/jquery.appear.min.js"></script>

    <!--
      You need to include this script on any page that has a Google Map.
      When using Google Maps on your own site you "MUST" signup for your own API key () at:
      https://developers.google.com/maps/documentation/javascript/tutorial#api_key

      After your sign up replace the key in the URL below or paste in the new script tag that Google provides.
    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
    <script src="js/vendor/jquery.maps.js"></script>
    <script src="js/apps.js"></script>
  </body>
</html>
